
/* ===========================================================
                Elements/ teamInfo.js
=============================================================*/

.articleTeamHeader {
    border: 1px solid #c5c5c5;
    border-bottom: 0px;
    background: #fff;
    margin: 5px 5px 0px 5px;
    display: flex;  /* flex container */
    justify-content: center;
    align-items: center;
}

.left {
    width:57px;
    height: 50px;
    background-size: 65% !important;   /* instead if cover, hardcode number! */
    background-repeat: no-repeat !important;
    background-position: center !important;
}

/* 
    如果要在背景圖上再加一個圖案，要再設定一個空的 div：
    .left div {
        width: 50px;
        height: 50px;
        background-size: 40px !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background: url('/images/play.png');    
    }
*/

.right {
    flex-grow: 1;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 300;

}


/* ===========================================================
                Elements/ postData.js
=============================================================*/

.articlePostData {
    border: 1px solid #c5c5c5;
    border-bottom: 0px;
    background: #fff;
    margin: 5px 5px 0px 5px;
    padding: 10px;
    font-size: 13px;
    font-weight: 300; 
}

.articlePostData span {
     font-weight:  500;
}

/* ===========================================================
                Post/ index.js ( Article Body )
=============================================================*/

.articleBody {
    background: #fff;
    margin: 0px 5px;
    border: 1px solid #c5c5c5;
    padding: 10px;
};

.articleBody h1 {
    font-size: 25px;
    font-weight: 400;
    color: #4d4d4d;
    margin: 15px 0px;
}

.articleImage {
    width: 100%;
    height: 200px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

/*
.articleImage div {
    width: 50px;
    height: 50px;
    background-size: 40px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background: url('/images/play.png');    
}
*/

.articleText {
    font-weight: 300;
    color: #666666;
    line-height: 23px;
    margin: 15px 0px;

}


/* ===========================================================
                Video / index.js ( Video Article )
=============================================================*/

.videoWrapper {
    background: #fff;
    margin: 0px 5px;
    border: 1px solid #c5c5c5;
}

.videoWrapper h1 {
    font-size: 25px;
    font-weight: 400;
    color: #4d4d4d;
    margin: 15px 0px;
    padding: 0px 10px
}

.videoWrapper iframe {
    border: 0;
}


/* ===========================================================
                Video / Main / index.js ( Video Main )
=============================================================*/

.videoMain_wrapper {
    margin: 10px 5px;
}